body,html{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        background: #f598a8;
        background: -webkit-linear-gradient(#f2f2f2, #f3f3f3);
        background: -o-linear-gradient(#f2f2f2, #f3f3f3);
        background: -moz-linear-gradient(#f2f2f2, #f3f3f3);
        background: linear-gradient(#f2f2f2, #f3f3f3);
        background-size:cover;
        font-family:Microsoft JhengHei;
    }

    #input {
        background-color: #eed894;
        position: absolute;
        bottom:0;
        width: 100%;
        height: 60px;
        padding-left: 1em;
        padding-right: 1em;
        box-sizing:border-box;
        color:#000000;
    }

    #btn {
        white-space: nowrap;
        width: 5em;
    }

    .system {
        text-align: center;
        color: #4e4e4e;
    }

#area{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:calc(100% - 90px);
  overflow-y:scroll;
  padding:20px;
  box-sizing:border-box;
}

#area>div{
  position:relative;
  margin:0 0 10px 0;
  clear:both;

}

#area>div>div{
  display:inline-block;
}

#area .time{
  font-size:10px;
  color:#777;
  text-align:left;
}

#area .name{
  font-size: 10px;
  color:#1b1b1b;
  margin-bottom: 2px;
  margin-left: 10px;
}

#area .me{
  background:#fff6b2;
  padding:10px;
  margin-top:15px;
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle;
  float:right;
  margin-right:10px;
  word-break:break-all;
  margin-bottom: 3px;

}

#area .other{
  background:#b3d8ff;
  padding:10px;
  /*margin-top:15px;*/
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle;
  float:left;
  margin-right:10px;
  word-break:break-all;
  margin-bottom: 3px;

}

#area::-webkit-scrollbar {
  width:5px;
}
#area::-webkit-scrollbar-track {
  background:rgba(255,255,255,.1);
  border-radius: 5px;
}
#area::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,.2);
  border-radius: 2px;
}