<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>聊天室</title>
</head>
<body>
    <div id="area">
        <p>開始聊天</p>
    </div>
<!--    <input id="msg" placeholder="输入要推送的消息">-->
    <div id="input" class="align-items-center d-flex justify-content-between">
        <input id="msg" type="text" placeholder="輸入訊息" class="form-control">
        <input id="btn" type="button" value="送出" class="form-control ">
    </div>
</body>
<style>
    #input {
        background-color: #7498be;
        position: fixed;
        bottom:0;
        width: 100%;
        height: 60px;
        padding-left: 1em;
        padding-right: 1em;
    }

    #btn {
        white-space: nowrap;
        width: 5em;
    }
</style>
<script>
    const now = new Date();

    window.onload = function() {
        if ("WebSocket" in window){
            //$('#area').append("<p>瀏覽器有支援websocket  "+ now.toLocaleString() +"</p>");
            //使用 WebSocket 的網址向 Server 開啟連結
            ws = new WebSocket("ws://"+window.location.host+window.location.pathname)
            $('#area').append("<p>連結成功  "+now.toLocaleString()+"</p>");
            //連結打開時執行
            ws.onopen = function() {
                ws.send("onopentest")
                //console.log('onOpen')
            };
            //接收到訊息時執行
            ws.onmessage = function(listen){
                var rec_msg = listen.data;
                console.log(listen)
                $("#area").append("<p>"+rec_msg+"</p>");
            };
            //連結關閉時執行
            ws.onclose = function(){
                //webSocket已關閉
                alert('連接已斷!');
            };
        }else{
            alert("你的瀏覽器不支援websocket");
        };
    }

    function sendmsg(){
        $.ajax({
            url:'/send/',
            dataType: 'json',
            type: 'POST',
            data:{
                msg: $('#msg').val()
            },
            success: function(data){
                console.log(data)
                $('#msg').val('')
            },
            error: function(err){
                console.log(err)
            }
        });
    }

$(document).ready(function(){
    $('#btn').click(function(){
        sendmsg();
        $('#msg').val('');
    })
})

</script>
</html>