<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/chat.css">
    <title>聊天室</title>
</head>
<body>
    <div id="area">
        <p class="system">開始聊天</p>
    </div>
<!--    <input id="msg" placeholder="输入要推送的消息">-->
    <div id="input" class="align-items-center d-flex justify-content-between">
        <input id="msg" type="text" placeholder="輸入訊息" class="form-control" required>
        <input id="btn" type="button" value="送出" class="form-control ">
    </div>
    <div style="position:absolute; top:2px; right:5px; font-size:12px; z-index:999;">
        <button style="border: none; color: blanchedalmond; background:none;" onclick="ws.close()">離開</button>
        <span>在線人數：</span><span id="online">{{online}}</span>
    </div>
</body>
<script>
    var me;
    var $area = $('#area');
    var enter = document.getElementById("msg");
    enter.addEventListener("keyup", function(e){
        if (e.keyCode === 13){
            if ($("#msg").val() != "" ){
            e.preventDefault();
            document.getElementById("btn").click();
            }
        }
    });

    window.onload = function() {
        if ("WebSocket" in window){
            //$('#area').append("<p>瀏覽器有支援websocket  "+ getTime() +"</p>");
            //使用 WebSocket 的網址向 Server 開啟連結
            ws = new WebSocket("ws://"+window.location.host+window.location.pathname)
            $('#area').append("<p class='system'>連結成功  "+ getTime() +"</p>");
            //連結打開時執行
            ws.onopen = function() {
                ws.send("connected")
                //console.log('onOpen')
            };
            //接收到訊息時執行
            ws.onmessage = function(listen){
                var rec_msg = JSON.parse(listen.data);
                //type=0 :自己進入 , 1: 新成員進入, 2:有人發送訊息
                if (rec_msg.type == 0) {
                    me = rec_msg.id
                }else if (rec_msg.type == 1){
                    $("#area").append("<div><p class='system'>"+rec_msg.text+"</p></div>");
                    var num = +$("#online").html() +1;
                    $("#online").html(num);
                }else if (rec_msg.type == 2){
                    if (rec_msg.from == me){
                        $("#area").append(
                        "<div style='float:right;'>"+
                            "<div>"+
                                "<p class='me'>"+rec_msg.text+"</p>"+
                                "<p class='time'>"+ getTime() +"</p>"+
                            "</div>"+
                        "</div>")
                    }else{
                        var text;
                        $("#area").append(
                        "<div>"+
                            "<div>"+
                                "<p class='name'>"+rec_msg.from+"</p>"+
                                "<p class='other'>"+rec_msg.text+"</p>"+
                                "<p class='time' >"+ getTime() +"</p>"+
                            "</div>"+
                        "</div>")
                    }

                }
                $area.scrollTop($area[0].scrollHeight);

            };
            //連結關閉時執行
            ws.onclose = function(){
                window.location.assign("/");
            };
        }else{
            alert("你的瀏覽器不支援websocket");
        };
    }

    function sendmsg(){
        $.ajax({
            url:'/send/',
            dataType: 'json',
            type: 'POST',
            data:{
                from: me,
                msg: $('#msg').val()
            },
            success: function(data){
                $('#msg').val('')
            },
            error: function(err){
                console.log(err)
            }
        });
    }

    function getTime() {
        now = new Date();
        var h = now.getHours().toString();
        var m = now.getMinutes().toString();
        var s = now.getSeconds().toString();

        return h+':'+m+':'+s
    }

$(document).ready(function(){
    $('#btn').click(function(){
        sendmsg();
        $('#msg').val('');
    })
})

</script>
</html>