<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>聊天室</title>
</head>
<body>
    <div id="area">
        <p>開始聊天</p>
    </div>
    <input id="msg" placeholder="输入要推送的消息">
    <button id="btn">推送訊息</button>
</body>
<script>
    const now = new Date();

    window.onload = function() {
        if ("WebSocket" in window){
            $('#area').append("<p>瀏覽器有支援websocket  "+ now.toLocaleString() +"</p>");
            //使用 WebSocket 的網址向 Server 開啟連結
            ws = new WebSocket("ws://127.0.0.1:8000/connect/")
            $('#area').append("<p>連結成功  "+now.toLocaleString()+"</p>");
            //連結打開時執行
            ws.onopen = function() {
                ws.send("onopentest")
                console.log('onOpen')
            };
            //接收到訊息時執行
            ws.onmessage = function(listen){
                var rec_msg = listen.data;
                console.log(listen)
                $("#area").append("<p>"+rec_msg+"</p>");
            };
            //連結關閉時執行
            ws.onclose = function(){
                alert('ws已關閉');
            };
        }else{
            alert("你的瀏覽器不支援websocket");
        };
    }

    function sendmsg(){
        $.ajax({
            url:'/send/',
            dataType: 'json',
            type: 'POST',
            data:{
                msg: $('#msg').val()
            },
            success: function(data){
                console.log(data)
                $('#msg').val('')
            },
            error: function(err){
                console.log(err)
            }
        });
    }

$(document).ready(function(){
    $('#btn').click(function(){
        sendmsg();
        $('#msg').val('');
    })
})

</script>
</html>